<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <!--my-theme-->
        <link rel="stylesheet" href="myCss/my-base.css">
        <link rel="stylesheet" href="bootstrap/css/toastr.css">

        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="bootstrap-table/bootstrap-table.css">
        <link rel="stylesheet" href="page-jumpto/bootstrap-table-jumpto.css">
        <link rel="stylesheet" href="myCss/elementCodeSetManage.css">

        <script type="text/javascript" src="bootstrap/jQuery/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="bootstrap/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/jQuery/jquery.serializejson.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="bootstrap-table/bootstrap-table.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.js"></script>

        <!-- 时间插件 -->
        <link rel="stylesheet" href="bootstrap-datetimepicker/bootstrap-datetimepicker.css"/>
        <script type="text/javascript" src="bootstrap/js/moment-with-locales.js"></script>
        <script type="text/javascript" src="bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>

        <script type="text/javascript" src="bootstrap/js/toastr.min.js"></script>
        <!--上传下载插件-->
        <link href="bootstrap/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>
        <script src="bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
        <script src="bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>

        <!--jumpto-->

        <script type="text/javascript" src="page-jumpto/bootstrap-table-jumpto.js"></script>

        <link rel="stylesheet" href="perfect-scrollbar/perfect-scrollbar.css">
        <script type="text/javascript" src="perfect-scrollbar/perfect-scrollbar.js"></script>

        <script  src="myJs/commons.js"></script>
        <script type="text/javascript" src="myJs/elementCodeSetManageNew.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootbox.js"></script>

        <!--王琛自己写的css和js-->
        <link rel="stylesheet" href="myCss/my-style.css">
        <link rel="stylesheet" href="myCss/my-build.css">

		<title></title>
	</head>

	<body>
		<div class="codediv"  >
			 <!--<div class="codeLeftdiv">-->
		        <!--<img src="../img/icon2.png"/>-->
		        <!--<font>元素代码集管理</font>-->
		    <!--</div>-->
            <!--<div class="headerTool">
                &lt;!&ndash;<div class="headerColor"></div>&ndash;&gt;
                <p class="headerFont">当前页: </p>
                <p class="pageAddress"> 标准管理 > </p>
                <p class="pageAddressTwo" onclick="pageClick()">元素代码集管理</p>
                <p class="pageAddressThree"> > 元素代码集值管理</p>
            </div>-->

            <div class="codeRightdiv">
                <!--<font class="codeName">英文代码名:</font>-->
                <input id="codeNameInput" type='text' class="form-control" placeholder="代码英文名" />
                <!--<font class="codeText">中文代码名:</font>-->
                <input id="codeTextInput" type='text' class="form-control" placeholder="代码中文名"/>
                <div class="my-btn-group">
                    <div id="findCodeData" class="my-group-btn"  onclick="selectBtnCodeClick(this)">查询</div>
                    <div id="addCodeData"  class="my-group-btn"  onclick="addBtnCodeClick(this)">新建</div>
                    <div id="delCodeData"  class="my-group-btn"  onclick="delBtnCodeClick(this)">删除</div>
                </div>
            </div>

		    <div class="codeBottomdiv myTableDiv" id="contentPagin">
				 <table id="codeTable" class="table table-striped table-hover" >
  				</table>
			 </div>
		</div>

        <!-- 代码值基本信息-->
		<div class="codeValdiv" style="display: none">
            <div class="form-group  spanDiv" >
            </div>
            <!--<div style="float: right;margin-right: 20px;position: relative;margin-top: 2px;-->
               <!--transform: rotate(180deg);cursor:pointer" onclick="returnCodediv()">-->
                <!--<i class="glyphicon glyphicon-share-alt"></i>-->
            <!--</div>-->
            <div style="float: right;margin-right: 10px;position: relative;margin-top: -5px;
               cursor:pointer" onclick="saveCodediv()">
                <!--<div class="my-btn codeValButton">保存</div>-->
                <button class="my-btn codeValButton">保存</button>
            </div>
            <div class="form-group row" style="margin-top: 30px;margin-left: -100px;margin-right: 0">
                <label  class="col-xs-2 control-label sourceLabel"><span style="color: red">*</span>主键ID：</label>
                <div class="col-xs-2">
                    <input id="codeId" type="text" placeholder="主键ID" class="form-control no-padding"
                           style="width: 280px;height:32px;" >
                </div>
                <label  class="col-xs-2 control-label sourceLabel"><span style="color: red">*</span>代码英文名称：</label>
                <div class="col-xs-2">
                    <input id="sourceProtocolMode" type="text" placeholder="" class="form-control no-padding"
                           style="width: 280px;height:32px;" >
                </div>
                <label  class="col-xs-2 control-label sourceLabel"><span style="color: red">*</span>代码中文名称：</label>
                <div class="col-xs-2">
                    <input id="codeTextInput2" type="text" placeholder="" class="form-control no-padding"
                           style="width: 280px;height:32px;" >
                </div>
            </div>

			<div class="form-group row"  style="margin-left: -100px;margin-right: 0px">
                <label  class="col-xs-2 control-label sourceLabel">代码集父ID：</label>
                <div class="col-xs-2">
                    <div class=" input-group">
                        <input id="parcodeIdInput" type="text" placeholder="代码集父ID" class="form-control no-padding"
                               style="width: 280px;height:32px;"  >
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                            ></ul>
                        </div>
                    </div>
                </div>
                <label  class="col-xs-2 control-label sourceLabel">引用的代码集ID：</label>
                <div class="col-xs-2">
                    <div class=" input-group">
                        <input id="brotherCodeIdInput" type="text" placeholder="引用的代码集ID" class="form-control no-padding"
                               style="width: 280px;height:32px;"  >
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                            ></ul>
                        </div>
                    </div>
                </div>
			</div>

            <div class="codeValBottomdiv myTableDiv" id="basePagin">
                <div class="my-btn-group" style="margin-bottom: 10px">
                    <div  class="my-group-btn" style="margin-bottom: 5px;border-right: 0px" onclick="addCodeVal()" >添加</div>
                    <div  class="my-group-btn" style="margin-bottom: 5px;border-right: 0px" onclick="importCodeValClick()">导入</div>
                    <div  class="my-group-btn" style="margin-bottom: 5px;border-right: 0px" onclick="deleteSelectRows()">删除</div>
                </div>
                <table id="codeValTable" class="table table-striped table-hover" >
                </table>
            </div>
        </div>

        <div class="modal fade my-dialog" id="addCodeValModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" data-backdrop='static'>
            <div class="modal-dialog" role="document" style="width: 800px;">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p style="color: #fff;font-size: 16px;margin: 0px">代码值信息</p>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div  class="form-group row database">
                                <span id="codeValIdModalBack" style="display: none"></span>
                                <label  class="col-xs-2 control-label sourceLabel" style="margin-left: -70px;"><span style="color: red">*</span>代码集名：</label>
                                <div class="col-xs-2">
                                    <input id="valTextModal" type="text" placeholder="" class="form-control no-padding"
                                           style="width: 220px;height:32px;" >
                                </div>
                                <label  class="col-xs-2 control-label sourceLabel"><span style="color: red">*</span>代码集值：</label>
                                <div class="col-xs-2">
                                    <input id="valValueModal" type="text" placeholder="" class="form-control no-padding"
                                           style="width: 220px;height:32px;" >
                                </div>
                            </div>
                            <div  class="form-group row database">
                                <label  class="col-xs-2 control-label sourceLabel" style="margin-left: -70px;">代码值顺序：</label>
                                <div class="col-xs-2">
                                    <input id="sortIndexModal" type="text" placeholder="" class="form-control no-padding"
                                           style="width: 220px;height:32px;" >
                                </div>
                                <label  class="col-xs-2 control-label sourceLabel">英文缩写：</label>
                                <div class="col-xs-2">
                                    <input id="valTextTitleModal" type="text" placeholder="" class="form-control no-padding"
                                           style="width: 220px;height:32px;" >
                                </div>
                            </div>
                            <div  class="form-group row database" style="margin-bottom: 0">
                                <label  class="col-xs-2 control-label sourceLabel" style="margin-left: -70px;">备注信息：</label>
                                <div class="col-xs-9">
                                    <textarea  id="memoModal" rows="5" class="form-control" style="width: 610px;resize: none;" >
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div  type="button" class="btn my-btn-cancle"  data-dismiss="modal" name="cancel" onclick="closeModalCodel()">关闭</div>
                        <div  type="button" class="btn my-btn-confirm"  onclick="addCodeValButton()">添加</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="importCodeVal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop='static'>
            <div class="modal-dialog modal-lg my-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">元素代码值导入</h4>
                    </div>
                    <div class="modal-body">
                        <form id="xlsFile" method="post">
                            <div title="元素代码值文件导入操作" style="padding: 5px">
                                <input type="hidden" id="AttachGUID" name="AttachGUID" />
                                <input id="codeValXlsFile" name="codeValXlsFile" multiple type="file" data-show-caption="true">
                            </div>
                        </form>
                        <div id="response">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn my-btn-confirm" onclick="downTemplateFile()" >下载模板文件</button>
                        <button type="button" class="btn my-btn-cancle" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
