<!DOCTYPE html>
<html  lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-table.css">
	<link rel="stylesheet" href="myCss/bootstrap-tablePage.css">
	<link rel="stylesheet" href="bootstrap/css/toastr.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-treeview.css">
	<link rel="stylesheet" href="myCss/resourceManage.css">
	<script  src="bootstrap/jQuery/jquery-3.0.0.js"></script>
	<script  src="bootstrap/jQuery/jquery.min.js"></script>
	<script  src="bootstrap/jQuery/jquery.serializejson.js"></script>
	<script  src="bootstrap/js/bootstrap.min.js"></script>
	<script  src="bootstrap/js/bootstrap-table.js"></script>
	<script src="bootstrap/js/bootstrap-table-zh-CN.js"></script>
	<script  src="bootstrap/js/toastr.min.js"></script>
	<script  src="myJs/commons.js"></script>
	<script  src="bootstrap/js/bootbox.js"></script>
	<script  src="bootstrap/js/bootstrap-treeview.js"></script>

	<!-- toastr -->
	<script type="text/javascript" src="bootstrap/js/toastr.min.js"></script>
	<link rel="stylesheet" href="bootstrap/css/toastr.css">
	<link rel="stylesheet" href="myCss/resourceManageAdd.css">
</head>
<body>
<!-- 已建表页面中 字段对比  删除表的相关操作  -->



</body>
</html>
