<!DOCTYPE html>
<html  lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-table.css">
    <script  src="myJs/commons.js"></script>

</head>
<style type="text/css">
    h1{
        margin: 30px;
        text-align: center;
    }
    h2{
        font-size: 18px;
        font-weight: bold;
    }
</style>
<body>
<div  class="spec" style="padding: 0 20%;height: 100%;overflow-y: scroll;">
    <h1>Presto建表规则</h1>
    <p>在线计算底层使用hbase和Elasticsearch作为存储和索引，因此在使用presto建表时，与普通的数据库相比较，会有其特殊性。本文主要给出一些建表的建议。</p>
    <h2 >标准表/非标准表</h2>
    <p >标准表是指符合公司标准规范的，在公司标准库中有的表。非标准表是指自定义的，不在公司标准规范中的表。</p>
    <h2  id="tableGroup">项目名</h2>
    <p >一类表的集合。</p>
    <h2  id="tableName">表名</h2>
    <p >表名应该以字符开头，由字符，下划线和数组组成。</p>
    <h2  id="HbaseType">Hbase 分区类型</h2>
    <p >多天一个分区：当数据总量超过200G并且每日数据增量介于0-10G之间时使用；<br>
        每天一个分区：当数据总量超过200G并且每日数据增量介于10-20G之间时使用；<br>
        一天多个分区：当数据总量超过200G并且每日数据增量超过20G时使用；<br>
        固定分区：数据总量不足200G时使用；<br>
        无效分区：针对不打算接入数据而又要建表的情况；
    </p>
    <h2  id="regionCountSpan">Hbase 分区天数</h2>
    <p >	多天一个分区 days=floor（20G/每日增量），一般与es单索引天数保持一致<br>
        一天多个分区days= round（每日增量/20G）<br>
        固定分区	    days= max(round（数据总量/20G）,10)<br>
        一天一分区	 days=1<br>
        无效分区		 days=1<br>
    </p>
    <h2  id="EsType">ES索引类型</h2>
    <p >多天一索引：当数据总量超过200G并且每日数据增量介于0-10G之间时使用；<br>
        每天一索引：每日数据增量超过10G时使用；<br>
        总共一个索引：数据总量不足200G时使用；<br>
        无效的索引：针对不打算接入数据而又要建表的情况；
    </p>
    <h2  id="esSplitCountSpan">ES单索引天数</h2>
    <p >Es单索引天数表示一个es索引，存储多少天的数据。其规则为： 如果是多天一索引，days= floor(20G/每日增量)，其他情况days=1。
    </p>
    <h2  id="esShardsSpan">ES单索引分片数</h2>
    <p >
        该值表示一个es索引有多少个分片。<br>
        多天一索引：shards=2<br>
        每天一个索引：shards=max（round(每天增量/40G)，2）<br>
        总共一个索引：shards =max（round（数据总量/40G），2）<br>
        无效的索引：shards=0
    </p>
    <h2  id="geoRedundantSpan">Geohash冗余</h2>
    <p >当需要加速geohash查询时，选择是。注意当选择geohash冗余时，hbase 的存储将会翻倍增加。</p>
    <h2  id="recentDays">生命周期</h2>
    <p >	分区的生存时间。当分区为固定分区时，生命周期设置为0。表的数据将永不删除。所以当需要通过生命周期来定期清理数据时，则不能够使用固定分区的表。</p>
    <h2 >Rowkey</h2>
    <p >表的主业务字段，选取最经常查询的字段，如电查电围数据的己方号码。每个表必须要有且仅有一个主业务字段。</p>
    <h2 >建立索引</h2>
    <p >需要建立索引的字段，选择所有有可能被查询的高基数字段。绝对不要把枚举类型的字段创建索引。</p>
    <h2 >存source</h2>
    <p >对于固定分区的表，建议全选所有字段。</p>
    <h2 >存store</h2>
    <p >系统保留属性，不要勾选。</p>
    <h2 >存docvalue</h2>
    <p >系统保留属性，不要勾选。</p>
    <h2>过滤列</h2>
    <p >1、经常查询的的过滤低基数字段建议勾选，比如区号，运营商；<br>
        2、经常返回的字段建议勾选，比如号码，卡号，机身码；<br>
        注意过滤列不要超过10列。
    </p></div>

</body>

<script>

  var id = getQueryParam("id");//从哪里跳转
  if(!checkIsNull(id)){
    window.location.hash = "#"+id;
  }

</script>

</html>
