<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--my-theme-->
	<link rel="stylesheet" href="myCss/my-base.css">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap-table/bootstrap-table.css">
	<link rel="stylesheet" href="bootstrap/css/toastr.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-treeview.css">
	<link rel="stylesheet" href="page-jumpto/bootstrap-table-jumpto.css">
	<link rel="stylesheet" href="myCss/nationCodeTableMonitor.css">

	<script type="text/javascript" src="bootstrap/jQuery/jquery-3.0.0.js"></script>
	<script type="text/javascript" src="bootstrap/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/jQuery/jquery.serializejson.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="bootstrap-table/bootstrap-table.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.js"></script>
	<script type="text/javascript" src="bootstrap/js/toastr.min.js"></script>

	<script type="text/javascript" src="myJs/clipboard.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootbox.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-treeview.js"></script>

	<link rel="stylesheet" href="perfect-scrollbar/perfect-scrollbar.css">
	<script type="text/javascript" src="perfect-scrollbar/perfect-scrollbar.js"></script>

	<script type="text/javascript" src="myJs/regionalCodeTableMonitor.js"></script>

	<script type="text/javascript" src="bootstrap/js/bootstrap-table-editable.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-editable.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap-editable.css">

	<!--jumpto-->
	<script type="text/javascript" src="page-jumpto/bootstrap-table-jumpto.js"></script>

	<link href="bootstrap/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>
	<script src="bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
	<script src="bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
<!--	<script type="text/javascript" src="bootstrap/js/fileinput.min.js"></script>-->
<!--	<script type="text/javascript" src="bootstrap/js/fileinput_locale_zh.js"></script>-->
<!--	<link rel="stylesheet" href="bootstrap/css/fileinput.min.css">-->

	<!--王琛自己写的css和js-->
	<link rel="stylesheet" href="myCss/my-style.css">
	<link rel="stylesheet" href="myCss/my-build.css">
	<style type="text/css">
	   input.form-control {
            width: 100%;
       }   
	</style>
</head>

<div onselectstart="return false">

<!--<div class="row" style="margin-top: 10px;">-->
<!--	<div style="margin-left: 35px;">-->
<!--		<img src="img/icon_seacher.png" />-->
<!--		<font style="margin-left: 5px;font-size: 15px;">地标码表管理</font>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="row">-->

<div class="treeDiv" >
	<div  style="margin-top: 5px;">
		<div style="display: inline-block">
			<div class="input-group my-search-box my-dmzdzwm-box" style="margin-top: -5px;">
				<img src="img/myImg/search.png" alt="" class="my-img">
				<input id="dmzdzwm" type="text" placeholder="请输入代码字段中文名" class="form-control no-padding my-input"
					   style="height:30px;display: inline;width: 222px;border-radius: 4px 0 0 4px!important;">
				<button class="my-btn" id="resetTreeQuery" onclick="resetTreeQuery();"><span>搜索</span></button>

				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown" style="display: none;">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
				</div>
			</div>
		</div>
		<!--<div id="resetTreeQuery" type="button" class="resourceButton querybtn" style="display: inline-block" onclick="resetTreeQuery();">查询</div>-->
	</div>
	<div id="treeId"></div>
</div>

<div class="TableDiv" style="margin-top: 5px;">
	<div style=" margin: 10px">
		<div class="leftdiv" style="/*display: inline-block;*/">
			<img src="img/icon2.png"/><font style="margin-left: 8px;font-size: 15px;color:#333">代码类型</font>
		</div>

		<div class="" style="float:left;padding: 10px 0px 10px;">
			<div id="exportFormwork" type="button" class="resourceButton my-btn exportbtn" onclick="exportFormwork();" style="width: 100px;display: inline-block">
				<span>导出模板</span>
			</div>
			<div id="importDatas" class="resourceButton my-btn exportbtn" style="display: inline-block; margin-right: 5px" onclick="importDatas();">
				<span >导入</span>
			</div>
		</div>

		<div class="my-table-div" style="padding: 10px 0px 0px;">
			<table class="table table-striped  table-condensed" cellspacing="1" cellpadding="1" border="1" style="border:1px solid #ebeef5;">
				<tr>
					<td style="vertical-align:  middle;font-size: 14px;color: #333">代码字段</td>
					<td style="vertical-align:  middle;font-size: 14px;color: #333">代码字段中文名</td>
				</tr>
				<tr>
					<td style="vertical-align:  middle;" id="td_dmzd">&nbsp;</td>
					<td style="vertical-align:  middle;" id="td_dmzdzwm">&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
</div>
	<div class="TableDivBootom" id="contentPagin">
		<div style="border-radius:3px; margin: 15px 10px 10px;">
			<div class="leftdiv" style="/*display: inline-block;*/">
				<img src="img/icon2.png"/><font style="margin-left: 8px;font-size: 15px;color:#333">代码集值</font>
			</div>

			<div style="float:left;margin-top: 10px">
				<div id="CodeValTableBtnDelete"   class="resourceButton my-btn  exportbtn" style="display: inline-block"  onclick="CodeValTableBtnDelete();">
					<span >删除</span>
				</div>
				<div id="CodeValTableBtnExport"  class="resourceButton my-btn exportbtn" style="display: inline-block;margin-right: 5px"  onclick="CodeValTableBtnExport();">
					<span>导出</span>
				</div>
			</div>

			<div style="float:right;margin: 10px 0px 0px 0px;">
				<div class="input-group my-search-box">
					<img src="img/myImg/search.png" alt="" class="my-img">
					<input id="dmmc" type="text" placeholder="请输入代码名称" class="form-control no-padding"
						   style="width: 220px;height:30px;display: inline;padding-left: 30px;border-radius: 4px 0 0 4px!important;">

					<button class="my-btn" id="CodeValTableBtnQuery"  onclick="CodeValTableBtnQuery()">搜索</button>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown" style="display: none;">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
					</div>
					<!--<div id="CodeValTableBtnQuery" class="resourceButton my-btn " style="display: inline-block"   onclick="CodeValTableBtnQuery();">
					<font style="padding-left: 15px">查询</font>
				</div>-->
				</div>
			</div>
			<div class="clearfix"></div>
			<div style="padding: 10px 0px 0 0px;">
				<input id="DMZDHide" type="hidden" value="-1"/>
				<table class="table table-striped table-hover" id="CodeValTable"></table>
			</div>
		</div>
	</div>
</div>

<form>
	<div id="textUpload" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true" data-backdrop='static'>
		<div class="modal-dialog modal-lg my-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" style="color: #fff; font-size: 16px;">地标码表</h4>
				</div>
				<div class="modal-body">
					<form id="xlsFile" method="post">
						<div class="my-txt-file" title="地标码表导入操作" style="padding: 5px">
							<input type="hidden" id="txt_fileGUID" name="txt_fileGUID" />
							<input id="txt_file" name="ruleFile" multiple type="file" data-show-caption="true">
						</div>
					</form>
					<div id="response">
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn my-btn-cancle" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>


<!--	<div class="modal fade" id="textUpload" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">-->
<!--		<div class="modal-dialog modal-lg" role="document">-->
<!--			<div class="modal-content">-->
<!--				<div class="modal-header">-->
<!--					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--					<h4 class="modal-title" style="color: #fff; font-size: 16px;">地标码表</h4>-->
<!--				</div>-->
<!--				<div class="modal-body">-->
<!--					<input  type="file" name="ruleFile" id="txt_file" />-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</form>

</body>

</html>
