<!DOCTYPE html>
<html  lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.css">
	<link rel="stylesheet" href="../myCss/bootstrap-tablePage.css">
	<link rel="stylesheet" href="../bootstrap/css/toastr.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-treeview.css">
	<link rel="stylesheet" href="../myCss/resourceManage.css">
	<script  src="../bootstrap/jQuery/jquery-3.0.0.js"></script>
	<script  src="../bootstrap/jQuery/jquery.min.js"></script>
	<script  src="../bootstrap/jQuery/jquery.serializejson.js"></script>
	<script  src="../bootstrap/js/bootstrap.min.js"></script>
	<script  src="../bootstrap/js/bootstrap-table.js"></script>
	<script src="../bootstrap/js/bootstrap-table-zh-CN.js"></script>
	<script  src="../bootstrap/js/toastr.min.js"></script>
	<script  src="../myJs/commons.js"></script>
	<script  src="../myJs/resourceManage.js"></script>
	<script  src="../myJs/clipboard.min.js"></script>
	<script  src="../bootstrap/js/bootbox.js"></script>
	<script  src="../bootstrap/js/bootstrap-treeview.js"></script>
</head>
<body>
<div class="treeDiv col-xs-3" >
	<div id="findTree" style="margin-bottom: 8px;margin-top: 8px;margin-left: 10px">
		<input id="objectNameInput" type='text' class="form-control" placeholder="对象名称"/>
		<button id="findObjectName" type="button" class="btn btn-sm querybtn" onclick="selectBtnClick()">查询</button>
	</div>
	<div id="treeId"></div>
</div>
<div class="TableDiv col-xs-9" >
	<div class="resourceManageObjectDetailDiv">
		<div class="leftdiv" >
			<img src="img/icon2.png"/>
			<font>对象详细表</font>
		</div>
		<table width="100%" class="table table-hover" cellspacing="1"
			   cellpadding="5" border="1" style="border:1px solid #e0e0e0;" id="table-object">
			<tr>
				<td width="11%" style="font-weight: bold;">表ID</td>
				<td style="font-size: 5px;" width="22%" id="tableIdTd"></div>
	</td>
	<td style="font-weight: bold;" width="11%">真实表名</td>
	<td style="font-size: 5px;" id='realTablenameTd'></td>
	<td style="font-weight: bold;" width="11%">Hive下的表名</td>
	<td style="font-size: 5px;" width="22%" id="hiveTableNameTd"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">对象名</td>
		<td style="font-size: 5px;" id="objectNameTd"></td>
		<td style="font-weight: bold;">表状态</td>
		<td style="font-size: 5px;" id="objectStateTd"></td>
		<td style="font-weight: bold;">存储位置</td>
		<td style="font-size: 5px;" id="storeTypeTd"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;" width="11%">序号</td>
		<td style="font-size: 5px;" width="22%" id="sortIndexTd"></td>
		<td style="font-weight: bold;">表类型</td>
		<td style="font-size: 5px;" width="22%" id="dataTypeTd"></td>
		<td style="font-weight: bold;">数据来源名</td>
		<td style="font-size: 5px;" id="dataSourceTd"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">数据保存天数</td>
		<td style="font-size: 5px;" id="recentDaysTd"></td>
		<td style="font-weight: bold;">对应的数据协议</td>
		<td style="font-size: 5px;" id="codeTextTd"></td>
		<td style="font-weight: bold;">项目名称</td>
		<td style="font-size: 5px;" id="tableProject"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">负责人</td>
		<td style="font-size: 5px;" id="responsiblePerson"></td>
		<td style="font-weight: bold;">权限状态</td>
		<td style="font-size: 5px;" id="powerStatus"></td>
		<td style="font-weight: bold;">物理存储(GB)</td>
		<td style="font-size: 5px;" id="tableSize"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">表创建时间</td>
		<td style="font-size: 5px;" id="tableCreatedTime"></td>
		<td style="font-weight: bold;">DDL最后变更时间</td>
		<td style="font-size: 5px;" id="tableLastMetaModifiedTime"></td>
		<td style="font-weight: bold;">数据最后变更时间</td>
		<td style="font-size: 5px;" id="tableLastDataModifiedTime"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">开始时间</td>
		<td style="font-size: 5px;" id="startTime"></td>
		<td style="font-weight: bold;">结束时间</td>
		<td style="font-size: 5px;" id="endTime"></td>
		<td style="font-weight: bold;">执行时长</td>
		<td style="font-size: 5px;" id="executeTime"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">添加分区时间</td>
		<td style="font-size: 5px;" id="addPartitionTime"></td>
		<td style="font-weight: bold;">添加分区的具体信息</td>
		<td style="font-size: 5px;" colspan="3" id="partitionInfo"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">表描述</td>
		<td style="font-size: 5px;" colspan="5" id="objectMemoTd"></td>
	</tr>
	</table>
</div>

<div class="rightSouthDiv">
	<div class="leftdiv" >
		<img src="img/icon2.png"/>
		<font>对象字段表</font>
	</div>
	<div class="rightDiv">
		<input id="fieldIdInput" type='text' class="form-control" placeholder="元素编码"/>
		<input id="columnNameInput" type='text' class="form-control" placeholder="列名"/>
		<input id="fieldChineeNameInput" type='text' class="form-control" placeholder="中文字段名"/>
		<select id="needValueSelect" class="form-control">
			<option value="default" >是否必填选择</option>
			<option value="yes" >是</option>
			<option value="no" >否</option>
		</select>
		<button id="objectFieldFindData" type="button" class="btn btn-sm querybtn" onclick="objectFieldQuery()">查询</button>

		<button id="createSQL" type="button" class="btn btn-sm querybtn" style="width:100px;" onclick="createSQL()">生成SQL</button>

        <button id="addOrUpdateObjectField" type="button" class="btn btn-sm querybtn" onclick="addOrUpdateObjectField('add')">增加</button>

        <button id="deleteObjectField" type="button" class="btn btn-sm querybtn" onclick="deleteObjectField()">删除</button>

        <button id="UpdateObjectField" type="button" class="btn btn-sm querybtn" onclick="addOrUpdateObjectField('update')">修改</button>
	</div>
	<div class="resourceManageObjectFieldDiv" >
		<table id="resourceManageObjectField" class="table table-hover" cellspacing="1"
			   cellpadding="5" border="1" style="border:1px solid #e0e0e0;">
		</table>
	</div>
</div>

<div class="modal fade" id="showSQL" tabindex="-1" role="dialog"
	 aria-labelledby="myModalLabel" data-backdrop='static'>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				SQL语句
			</div>
			<div class="modal-body" id="showSQLContent">

			</div>
			<div class="modal-footer">
				<button id="copyBtn" type="button" class="btn btn-default" data-dismiss="modal" onClick="copySQLContent();" data-clipboard-action="copy" data-clipboard-target="#showSQLContent">复制</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">关闭</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="showObjectField" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				ObjectField详细信息
			</div>
			<div class="modal-body" id="showSQLContent">
				<div class="container">
					<div class="row">
						<div class="col-md-3">表对象ID:</div>
						<div class="col-md-9" id="objectId"></div>
					</div>
					<div class="row">
						<div class="col-md-3">表中字段顺序:</div>
						<div class="col-md-9" id="recno"></div>
					</div>
					<div class="row">
						<div class="col-md-3">元素编码:</div>
						<div class="col-md-9" id="fieldId"></div>
					</div>
					<div class="row">
						<div class="col-md-3">表中的字段名称:</div>
						<div class="col-md-9" id="column_name"></div>
					</div>
					<div class="row">
						<div class="col-md-3">标准中数据项英文描述:</div>
						<div class="col-md-9" id="columnName"></div>
					</div>
					<div class="row">
						<div class="col-md-3">标准中的字段中文名称:</div>
						<div class="col-md-9" id="fieldChineeName"></div>
					</div>
					<div class="row">
						<div class="col-md-3">标准中的字段描述:</div>
						<div class="col-md-9" id="fieldDescribe"></div>
					</div>
					<div class="row">
						<div class="col-md-3">字段类型:</div>
						<div class="col-md-9" id="fieldType"></div>
					</div>
					<div class="row">
						<div class="col-md-3">字段长度:</div>
						<div class="col-md-9" id="fieldLen"></div>
					</div>
					<div class="row">
						<div class="col-md-3">字段默认值:</div>
						<div class="col-md-9" id="defaultValue"></div>
					</div>
					<div class="row">
						<div class="col-md-3">表索引:</div>
						<div class="col-md-9" id="tableIndex"></div>
					</div>
					<div class="row">
						<div class="col-md-3">是否索引:</div>
						<div class="col-md-9" id="isIndex"></div>
					</div>
					<div class="row">
						<div class="col-md-3">索引类型:</div>
						<div class="col-md-9" id="indexType"></div>
					</div>
					<div class="row">
						<div class="col-md-3">是否必填:</div>
						<div class="col-md-9" id="needValue"></div>
					</div>
					<div class="row">
						<div class="col-md-3">是否布控:</div>
						<div class="col-md-9" id="isContorl"></div>
					</div>
					<div class="row">
						<div class="col-md-3">是否可查询:</div>
						<div class="col-md-9" id="isQuery"></div>
					</div>
					<div class="row">
						<div class="col-md-3">备注:</div>
						<div class="col-md-9" id="memo"></div>
					</div>
					<div class="row">
						<div class="col-md-3">是否可用:</div>
						<div class="col-md-9" id="columnNameState"></div>
					</div>
					<div class="row">
						<div class="col-md-3">字段敏感级:</div>
						<div class="col-md-9" id="secretLevel"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">关闭</button>
			</div>
		</div>
	</div>
</div>


<!--fieldcodeval模态框 -->
<div class="modal fade" id="fieldCodeValModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" >fieldCodeVal查看</h4>
			</div>
			<div class="modal-body">
				<div class="northDiv">
					<font class="valText">代码值名:</font>
					<input id="valTextInput" type='text' class="form-control" />
					<font class="valValue">代码值:</font>
					<input id="valValueInput" type='text' class="form-control" />
					<button id="findDataModal" type="button" class="btn btn-sm querybtn" onclick="selectDataModal(this)">查询</button>
				</div>
				<div class="southDiv">
					<table id="fieldCodeValModalTable" class="table table-hover" cellspacing="1"
						   cellpadding="5" border="1" style="border:1px solid #e0e0e0;">
						<tr>
							<th >代码值名称</th>
							<th >集的代码值</th>
							<th >顺序</th>
							<th >英文简写</th>
							<th >备注</th>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
						data-dismiss="modal"  onclick="closeImport">关闭</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="saveObjectField" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
	<div class="modal-dialog" role="document" style="width: 70%;">
		<div class="modal-content">
			<div class="modal-header" >
				<div id="headContent"></div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body" id="addContent">
				<div class="container">
					<div class="row">
						<td>
							<div class="col-md-2">表对象ID
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="objectIdAdd"></input>
						</td>
						<td>
							<div class="col-md-2">表中字段顺序
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="recnoAdd"></input>
						</td>
					</div>
<!--					<div class="row">-->
<!--					</div>-->
					<div class="row">
						<td>
							<div class="col-md-2">元素编码
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="fieldIdAdd"></input>
						</td>
						<td>
							<div class="col-md-2">标准中数据项英文描述
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="fieldNameAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">标准中的字段中文名称
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="fieldChineeNameAdd"></input>
						</td>
						<td>
							<div class="col-md-2">标准中的字段描述:</div>
							<input class="col-md-3" type="text" id="fieldDescribeAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">字段类型
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="fieldTypeAdd">
								<option selected="selected">请选择</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">字段长度
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="fieldLenAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">字段默认值:</div>
							<input class="col-md-3" type="text" id="defaultValueAdd"></input>
						</td>
						<td>
							<div class="col-md-2">索引类型
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="indexTypeAdd">
								<option selected="selected">请选择</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="-1">-1</option>
							</select>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">是否索引
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="isIndexAdd">
								<option selected="selected">请选择</option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">是否必填
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="needValueAdd">
								<option selected="selected">请选择</option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">是否布控
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="isContorlAdd">
								<option selected="selected">请选择</option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">表中的字段名称
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="columnNameAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">备注:</div>
							<input class="col-md-3" type="text" id="memoAdd"></input>
						</td>
						<td>
							<div class="col-md-2">表索引
								<font style="color: red">*</font>
								:
							</div>
							<input class="col-md-3" type="text" id="tableIndexAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">是否可查询
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="isQueryAdd">
								<option value="0">否</option>
								<option value="1" selected="selected">是</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">表字段是否可用
								<font style="color: red">*</font>
								:
							</div>
							<select class="col-md-3" id="columnNameStateAdd">
								<option selected="selected">请选择</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">是否参与MD5运算:</div>
							<input class="col-md-3" type="text" id="md5IndexAdd"></input>
						</td>
						<td>
							<div class="col-md-2">versions:</div>
							<input class="col-md-3" type="text" id="versionsAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">是否标准协议:</div>
							<select class="col-md-3" id="isPrivateAdd">
								<option selected="selected">请选择</option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">标准中序列顺序:</div>
							<input class="col-md-3" type="text" id="standardRecnoAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">主键顺序:</div>
							<input class="col-md-3" type="text" id="pkRecnoAdd"></input>
						</td>
						<td>
							<div class="col-md-2">分区列标示:</div>
							<input class="col-md-3" type="text" id="partitionRecnoAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">聚集列:</div>
							<input class="col-md-3" type="text" id="clustRecnoAdd"></input>
						</td>
						<td>
							<div class="col-md-2">是否近线显示:</div>
							<select class="col-md-3" id="oraShowAdd">
								<option selected="selected">请选择</option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">needv:</div>
							<select class="col-md-3" id="needvAdd">
								<option selected="selected">请选择</option>
								<option value="否">否</option>
								<option value="是">是</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">fieldtypes:</div>
							<input class="col-md-3" type="text" id="fieldtypesAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">needvalues:</div>
							<select class="col-md-3" id="needvaluesAdd">
								<option selected="selected">请选择</option>
								<option value="否">否</option>
								<option value="是">是</option>
							</select>
						</td>
						<td>
							<div class="col-md-2">odpsPattition:</div>
							<input class="col-md-3" type="text" id="odpsPattitionAdd"></input>
						</td>
					</div>
					<div class="row">
						<td>
							<div class="col-md-2">proType:</div>
							<input class="col-md-3" type="text" id="proTypeAdd"></input>
						</td>
						<td></td>
					</div>

<!--					<div class="row">-->
<!--						<div class="col-md-3">字段敏感级:</div>-->
<!--						<input class="col-md-9" type="text" id="secretLevelAdd"></input>-->
<!--					</div>-->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="saveObjectField()">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">关闭</button>
			</div>
		</div>
	</div>
</div>

</div>
</body>
</html>
