<!DOCTYPE html>
<html  lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-table.css">
    <script  src="myJs/commons.js"></script>

</head>
<style type="text/css">
    h1{
        margin: 30px;
        text-align: center;
    }
    h2{
        font-size: 18px;
        font-weight: bold;
    }
	h3{
		font-size: 16px;
		font-weight: bold;
	}
	p{
		text-indent: 2em;
	}
</style>
<body>
<div  class="spec" style="padding: 0 20%;height: 100%;overflow-y: scroll;">
	<h1>数据表命名规范</h1>
	<p>如果该表已经通过建表功能建表(以及资产管理中存在该表)，则该表名禁止修改</p>
	<p>如果是新增标准表，则表名将按照以下标准命名</p>
	<p>如果是编辑标准表且表名未建表，并且表名符合新的命名规范，则表名要要按照新的命名规范来。</p>
	<p>如果编辑之前的表名不符合新的命名规范，则保存时不会要求该表名符合规范</p>
	<br>
	<h2>1 原始库表命名规范</h2>
	<h3>1.1 命名规范</h3>
	<p>原始库数据表命名形式：&lt;数据组织分类&gt;_&lt;数据来源&gt;_&lt;数据名拼音首字母&gt;_&lt;自定义值&gt;</p>
	<h3>1.2 命名规则说明</h3>
	<p>按照公安部已有标准发布的表名，原则上按照原有标准执行。</p>
	<p>所有接入原始数据表名称均包含数据组织分类，原始数据的数据组织分类为ysk</p>
	<p>数据来源为原始数据来源类型的代码，按照二级数据来源编码，见《公安大数据规范性文件汇编
		第二部分：公安大数据处理》附录B.1数据资源来源类型代码表；</p>
	<p>数据名拼音为标准表对应的数据名，系统会自动生成拼音的首字母</p>
	<p>当选择数据组织,填写数据名之后再点击表名输入框，会自动回填对应的值</p>

	<h2>2 资源库表命名规范</h2>
	<h3>2.1 命名规范</h3>
	<p>原始库数据表命名形式：&lt;数据组织分类&gt;_&lt;资源库类型&gt;_&lt;数据名拼音首字母&gt;_&lt;自定义值&gt;</p>
	<h3>2.2 命名规则说明</h3>
	<p>按照公安部已有标准发布的表名，原则上按照原有标准执行。</p>
	<p>所有资源库数据表名称均包含数据组织分类、资源库类型，资源库数据组织分类为zyk</p>
	<p>数据名拼音为标准表对应的数据名，系统会自动生成拼音的首字母</p>
	<p>当选择数据组织,填写数据名之后再点击表名输入框，会自动回填对应的值</p>
	<h3>2.3 资源库类型表</h3>
	<table class="table table-hover" cellspacing="1"
		   cellpadding="5" border="1" style="border:1px solid #ccc;margin-bottom: 1px;text-indent: 2em;">
		<tr>
			<td>资源库类型名称</td>
			<td>资源库类型</td>
		</tr>
		<tr>
			<td>要素关联库</td>
			<td>YSGLK</td>
		</tr>
		<tr>
			<td>要素关系库</td>
			<td>YSGXK</td>
		</tr>
		<tr>
			<td>要素重点行为库</td>
			<td>YSZDXWK</td>
		</tr>
		<tr>
			<td>要素重点内容库</td>
			<td>YSZDNRK</td>
		</tr>
		<tr>
			<td>要素分布库</td>
			<td>YSFBK</td>
		</tr>
	</table>
	<br>
	<h2>3 主题库表命名规范</h2>
	<h3>3.1 命名规范</h3>
	<p>原始库数据表命名形式：&lt;数据组织分类&gt;_&lt;二级主题分类&gt;_&lt;数据名拼音首字母&gt;_&lt;自定义值&gt;</p>
	<h3>3.2 命名规则说明</h3>
	<p>按照公安部已有标准发布的表名，原则上按照原有标准执行。</p>
	<p>所有接入原始数据表名称均包含数据组织分类，原始数据的数据组织分类为ysk</p>
	<p>所有主题库对象数据表名称均包含数据组织分类、主题一级分类、维度分类，主题库数据组织分类为ZTK,
		维度分类参考部标维度分类</p>
	<p>数据名拼音为标准表对应的数据名，系统会自动生成拼音的首字母</p>
	<p>当选择数据组织,填写数据名之后再点击表名输入框，会自动回填对应的值</p>
	<br>
	<h2>4 知识库表命名规范</h2>
	<h3>4.1 命名规范</h3>
	<p>原始库数据表命名形式：&lt;数据组织分类&gt;_&lt;知识库类型&gt;_&lt;数据名拼音首字母&gt;_&lt;自定义值&gt;</p>
	<h3>4.2 命名规则说明</h3>
	<p>按照公安部已有标准发布的表名，原则上按照原有标准执行。</p>
	<p>所有知识库数据表名称均包含数据组织分类、知识库类型、业务描述、分区标识、增全量标识，知识库数据的数据组织分类为ZSK</p>
	<p>知识库类型参看表 知识库类型表</p>
	<p>数据名拼音为标准表对应的数据名，系统会自动生成拼音的首字母</p>
	<p>当选择数据组织,填写数据名之后再点击表名输入框，会自动回填对应的值</p>
	<h3>4.3 知识库类型表</h3>
	<table class="table table-hover" cellspacing="1"
		   cellpadding="5" border="1" style="border:1px solid #ccc;margin-bottom: 1px;text-indent: 2em;">
		<tr>
			<td>知识库类型名称</td>
			<td>知识库类型</td>
		</tr>
		<tr>
			<td>模型库</td>
			<td>MX</td>
		</tr>
		<tr>
			<td>规则库</td>
			<td>GZ</td>
		</tr>
		<tr>
			<td>标签库</td>
			<td>BQ</td>
		</tr>
		<tr>
			<td>基础知识库</td>
			<td>JCZS</td>
		</tr>
		<tr>
			<td>基础算法库</td>
			<td>JCSF</td>
		</tr>
		<tr>
			<td>智能信息处理</td>
			<td>ZNXXCL</td>
		</tr>
	</table>
	<br>
	<h2>5 业务库表命名规范</h2>
	<h3>5.1 命名规范</h3>
	<p>原始库数据表命名形式：&lt;数据组织分类&gt;_&lt;业务库类型&gt;_&lt;数据名拼音首字母&gt;_&lt;自定义值&gt;</p>
	<h3>5.2 命名规则说明</h3>
	<p>按照公安部已有标准发布的表名，原则上按照原有标准执行。</p>
	<p>业务要素索引表数据组织分类为ywk</p>
	<p>数据名拼音为标准表对应的数据名，系统会自动生成拼音的首字母</p>
	<p>当选择数据组织,填写数据名之后再点击表名输入框，会自动回填对应的值</p>
	<p>样例：ywk_ ywzy_skzdr_0101  业务库_业务资源库_涉恐重点人</p>
	<h3>5.3 数据库类型码表</h3>
	<table class="table table-hover" cellspacing="1"
		   cellpadding="5" border="1" style="border:1px solid #ccc;margin-bottom: 1px;text-indent: 2em;">
		<tr>
			<td>业务库类型名称</td>
			<td>业务库类型</td>
		</tr>
		<tr>
			<td>业务知识库</td>
			<td>YWZS</td>
		</tr>
		<tr>
			<td>业务生产库</td>
			<td>YWSC</td>
		</tr>
		<tr>
			<td>业务资源库</td>
			<td>YWZY</td>
		</tr>
	</table>
    <br>
	<h2>6 业务要素库表命名规范</h2>
	<h3>6.1 命名规范</h3>
	<p>原始库数据表命名形式：&lt;数据组织分类&gt;_&lt;业务要素库类型&gt;_&lt;数据名拼音首字母&gt;_&lt;自定义值&gt;</p>
	<h3>6.2 命名规则说明</h3>
	<p>按照公安部已有标准发布的表名，原则上按照原有标准执行。</p>
	<p>业务要素索引表数据组织分类为YWYS</p>
	<p>数据名拼音为标准表对应的数据名，系统会自动生成拼音的首字母</p>
	<p>当选择数据组织,填写数据名之后再点击表名输入框，会自动回填对应的值</p>
	<p>样例：ywys_yssy_0101 业务要素库-要素索引表</p>
	</div>

</body>

<script>

</script>

</html>
