<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.synway.datastandardmanager.mapper.ObjectMapper">

    <resultMap id="OrganAndUserMap" type="com.synway.datastandardmanager.entity.pojo.ObjectEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="byUser" column="byUser" jdbcType="VARCHAR" typeHandler="com.synway.datastandardmanager.config.MybatisBooleanTypeHandler"/>
    </resultMap>

    <select id="queryDataSetManageList" parameterType="com.synway.datastandardmanager.entity.dto.DataSetManageDTO"
            resultType="com.synway.datastandardmanager.entity.vo.DataSetTableInfoVO">
        select distinct objectid as objectId,
                        objectName,
                        tableName,
                        tableId,
                        objectState,
                        dataSourceCode,
                        sjzybq1, sjzybq2, sjzybq3, sjzybq4, sjzybq5, sjzybq6,
                        trim(dataSourceCh) as dataSourceCh,
                        createTime,
                        case when creator is null then '' else trim(creator) end as creator,
                        case when updater is null then '' else trim(updater) end as updater,
                        updateTime,
                        dataOrganizationClassify,
                        dataSourceClassify
          from (select distinct o.objectid,
                                c.sjxjbm as tableId,
                                c.sjxjzwmc as objectName,
                                c.tablename as tableName,
                                c.sjzybq1, c.sjzybq2, c.sjzybq3, c.sjzybq4, c.sjzybq5, c.sjzybq6,
                                case
                                  when c.objectstate is null then -1 else c.objectstate end as objectState,
                                o.data_source as dataSourceCode,
                                s.valtext as dataSourceCh,
                                case
                                  when o.createtime is null then '' else to_char(o.createtime, 'yyyy-mm-dd HH24:mi:ss') end as createTime,
                                o.creator as creator,
                                o.updater as updater,
                                case
                                  when o.updatetime is null then '' else to_char(o.updatetime, 'yyyy-mm-dd HH24:mi:ss') end as updateTime,
                                case
                                  when c.secondaryorganizationch is null or c.secondaryorganizationch = '' then c.primaryorganizationch
                                  else c.primaryorganizationch || '->' || c.firstorganizationch || '->' || c.secondaryorganizationch
                                end as dataOrganizationClassify,
                                case
                                  when c.secondarydatasourcech is null then c.primarydatasourcech else c.primarydatasourcech || '->' || c.secondarydatasourcech
                                end as dataSourceClassify
                  from classify_interface_all_date c
                 right join (select *
                              from synlte.object
                             where deleted = 0
                               and upper(relate_tablename) = 'OBJECTFIELD'
                                <if test="summaryQueryParams.searchCode != '' and summaryQueryParams.searchCode != null">
                                    and (upper(objectname) like upper('%${summaryQueryParams.searchCode}%')
                                    or upper(tablename) like upper('%${summaryQueryParams.searchCode}%')
                                    or upper(tableid) like upper('%${summaryQueryParams.searchCode}%'))
                                </if>
                                <if test="dataLabelClassifyList1 != null and dataLabelClassifyList1.size > 0">
                                    and sjzybq1 in
                                    <foreach collection="dataLabelClassifyList1" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="dataLabelClassifyList2 != null and dataLabelClassifyList2.size > 0">
                                    and sjzybq2 in
                                    <foreach collection="dataLabelClassifyList2" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="dataLabelClassifyList3 != null and dataLabelClassifyList3.size > 0">
                                    and sjzybq3 in
                                    <foreach collection="dataLabelClassifyList3" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="dataLabelClassifyList4 != null and dataLabelClassifyList4.size > 0">
                                    and sjzybq4 in
                                    <foreach collection="dataLabelClassifyList4" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="dataLabelClassifyList5 != null and dataLabelClassifyList5.size > 0">
                                    and sjzybq5 in
                                    <foreach collection="dataLabelClassifyList5" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="dataLabelClassifyList6 != null and dataLabelClassifyList6.size > 0">
                                    and sjzybq6 in
                                    <foreach collection="dataLabelClassifyList6" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="useTageValueList != null and useTageValueList.size > 0">
                                    and objectstate in
                                    <foreach collection="useTageValueList" open="(" close=")" separator="," item="item" >
                                        #{item}
                                    </foreach>
                                </if>
                                <if test="dataObjectClassifyList != null and dataObjectClassifyList.size > 0">
                                    and (0, objectid) in
                                    <foreach collection="dataObjectClassifyList" open="(" close=")" separator="," item="item" >
                                        (0, #{item})
                                    </foreach>
                                </if>
                             ) o on upper(c.sjxjbm) = upper(o.tableid)
                  left join (select distinct valtext, valvalue
                              from synlte.fieldcodeval
                             where codeid = 'JZCODE0024') s on upper(o.data_source) = upper(s.valvalue)) x
          <where>
              <if test="dataOrganizationClassifyList != null and dataOrganizationClassifyList.size > 0">
                  and x.dataorganizationclassify in
                  <foreach collection="dataOrganizationClassifyList" open="(" close=")" separator="," item="item" >
                      #{item}
                  </foreach>
              </if>
              <if test="dataSourceClassifyList != null and dataSourceClassifyList.size > 0">
                  and x.datasourceclassify in
                  <foreach collection="dataSourceClassifyList" open="(" close=")" separator="," item="item" >
                      #{item}
                  </foreach>
              </if>
          </where>
        <if test="summaryQueryParams.sort != null and summaryQueryParams.sort != '' and summaryQueryParams.sort != 'createdTables' and summaryQueryParams.sort != 'createdtables' and summaryQueryParams.sort != 'CREATEDTABLES'">
            order by ${summaryQueryParams.sort}
            <if test="summaryQueryParams.sortOrder != null and summaryQueryParams.sortOrder != ''">
                ${summaryQueryParams.sortOrder}
            </if>
        </if>
    </select>

    <select id="getObjectTableNameByFieldId" resultType="com.synway.datastandardmanager.entity.vo.TableInfoVO" parameterType="java.lang.String">
        select tableid    as tableId,
               tablename  as tableName,
               objectname as tableNameCh
          from synlte.object o
          left join synlte.objectfield f
            on o.objectid = f.objectid
        <where>
            upper(f.fieldid) = upper(#{fieldId}) and
            upper(o.relate_tablename) = 'OBJECTFIELD'
            <if test="searchName != null and searchName != ''">
                and (upper(tablename) like upper(concat('%',concat(#{searchName},'%')))
                    or upper(objectname) like upper(concat('%',concat(#{searchName},'%'))) )
            </if>
        </where>
        group by tableid, tablename, objectname
    </select>

    <select id="getClassifyByTableid" resultType="com.synway.datastandardmanager.entity.pojo.ObjectEntity">
        select  PRIMARYORGANIZATIONCH||'/'||FIRSTORGANIZATIONCH||'/'||SECONDARYORGANIZATIONCH as organizationClassify,
                 SJYJFL||','||SJEJFLCODENAME||','||SJEJFL as classIds,
                 PRIMARYDATASOURCECH||'/'||SECONDARYDATASOURCECH as sourceClassify,
                 SJLYYJ||','||SJLYEJ  as sourceClassIds,
                 LABELS
                 from CLASSIFY_INTERFACE_ALL_DATE
            where upper(sjxjbm) = upper(#{tableId})
            and SJXJBM is not null
    </select>

    <select id="getClassifyByTableids" resultType="com.synway.datastandardmanager.entity.pojo.ObjectEntity">
        select  distinct PRIMARYORGANIZATIONCH||'/'||FIRSTORGANIZATIONCH||'/'||SECONDARYORGANIZATIONCH as organizationClassify,
                 SJYJFL||','||SJEJFLCODENAME||','||SJEJFL as classIds,
                 PRIMARYDATASOURCECH||'/'||SECONDARYDATASOURCECH as sourceClassify,
                 SJLYYJ||','||SJLYEJ  as sourceClassIds,
                 LABELS, SJXJBM as tableId
                 from CLASSIFY_INTERFACE_ALL_DATE
            where SJXJBM is not null
    </select>

    <select id="getFirstClassModeByMain" resultType="com.synway.datastandardmanager.entity.vo.ValueLabelVO">
        select label, value from (
            <if test="mainValue == 1">
                select distinct PRIMARYORGANIZATIONCH as value,
                                PRIMARYORGANIZATIONCH as label
                  from CLASSIFY_INTERFACE_ALL_DATE
                 where PRIMARYORGANIZATIONCH is not null
                   and SJXJBM is not null
            </if>
            <if test="mainValue == 2">
                select distinct PRIMARYDATASOURCECH as value,
                                PRIMARYDATASOURCECH as label
                  from CLASSIFY_INTERFACE_ALL_DATE
                 where PRIMARYDATASOURCECH is not null
                   and SJXJBM is not null
            </if>
            <if test="mainValue == 3">
                select distinct FACTORONENAME as value,
                                FACTORONENAME as label
                  from CLASSIFY_INTERFACE_ALL_DATE
                 where FACTORONENAME is not null
                   and SJXJBM is not null
            </if>
        ) t1
    </select>

    <select id="getSecondaryClassModeByFirst" resultType="com.synway.datastandardmanager.entity.vo.ValueLabelVO">
        select value, label from (
            <if test="mainValue == 1">
                select distinct SECONDARYORGANIZATIONCH as value,
                                SECONDARYORGANIZATIONCH as label
                  from CLASSIFY_INTERFACE_ALL_DATE
                 where PRIMARYORGANIZATIONCH = #{firstClassValue}
                   and SECONDARYORGANIZATIONCH is not null
                   and SJXJBM is not null
            </if>
            <if test="mainValue == 2">
                select distinct SECONDARYDATASOURCECH as value,
                                SECONDARYDATASOURCECH as label
                  from CLASSIFY_INTERFACE_ALL_DATE
                 where PRIMARYDATASOURCECH = #{firstClassValue}
                   and SECONDARYDATASOURCECH is not null
                   and SJXJBM is not null
            </if>
            <if test="mainValue == 3">
                select distinct FACTORTWONAME as value, FACTORTWONAME as label
                  from CLASSIFY_INTERFACE_ALL_DATE
                 where FACTORONENAME = #{firstClassValue}
                   and FACTORTWONAME is not null
                   and SJXJBM is not null
            </if>
        ) t1
    </select>

    <update id="updateObjectByTableId" parameterType="com.synway.datastandardmanager.entity.pojo.ObjectEntity">
        <if test="realTablename != null and realTablename != ''">
            update synlte.OBJECT
               set OBJECTNAME     = #{dataSourceName},
                   OBJECTSTATE    = #{objectState},
                   OBJECTMEMO     = #{objectMemo},
                   sourceid       = #{sourceId},
                   TABLENAME      = #{realTablename},
                   STORETYPE      = #{storeType},
                   DATA_SOURCE    = #{dataSource},
                   ISACTIVETABLE  = #{isActiveTable},
                   SJZYBQ1        = #{sjzybq1},
                   SJZYBQ2        = #{sjzybq2},
                   SJZYBQ3        = #{sjzybq3},
                   SJZYBQ4        = #{sjzybq4},
                   SJZYBQ5        = #{sjzybq5},
                   SJZYBQ6        = #{sjzybq6},
                   SJZZYJFLVALLUE = #{sjzzyjflVallue},
                   SJZZEJFLVALUE  = #{sjzzejflValue},
                   SJZYLYLXVALUE  = #{sjzylylxValue},
                   TANDARD_TYPE  = #{standardType}
             where upper(TABLEID) = upper(#{tableId})
        </if>
        <if test="realTablename == null or realTablename == ''">
            update synlte.OBJECT
               set OBJECTNAME    = #{objectName},
                   OBJECTSTATE   = #{objectState},
                   OBJECTMEMO    = #{objectMemo},
                   sourceid      = #{sourceId},
                   STORETYPE     = #{storeType},
                   ISACTIVETABLE = #{isActiveTable}
             where upper(TABLEID) = upper(#{tableId})
        </if>
    </update>

    <update id="updateObjectByObjectId" parameterType="com.synway.datastandardmanager.entity.pojo.ObjectEntity">
        update synlte.OBJECT
           set OBJECTNAME     = #{dataSourceName},
               OBJECTSTATE    = #{objectState},
               TABLENAME      = #{realTablename},
               STORETYPE      = #{storeType},
               DATA_SOURCE    = #{codeTextTd},
               sourceid       = #{sourceId},
               OBJECTMEMO     = #{objectMemo},
               HIVETABLENAME  = #{realTablename},
               DATATYPE       = #{dataType, jdbcType = INTEGER},
               OBJECTFLAG     = #{objectFlag, jdbcType = INTEGER},
               HD_DBSOURCE    = #{hdDbSource},
               DBSOURCE       = #{dbSource},
               ISACTIVETABLE  = #{isActiveTable},
               UPDATETIME     = sysdate,
               UPDATER        = #{updater},
               CREATOR        = #{creator},
               VERSION        = #{version},
               SECRETLEVEL    = #{dataLeve```l},
               SJZYBQ1        = #{sjzybq1},
               SJZYBQ2        = #{sjzybq2},
               SJZYBQ3        = #{sjzybq3},
               SJZYBQ4        = #{sjzybq4},
               SJZYBQ5        = #{sjzybq5},
               SJZYBQ6        = #{sjzybq6},
               STANDARD_TYPE  = #{standardType, jdbcType = INTEGER},
               SJZZYJFLVALLUE = #{sjzzyjflVallue},
               SJZZEJFLVALUE  = #{sjzzejflValue},
               SJZYLYLXVALUE  = #{sjzylylxValue}
         where UPPER(OBJECTID) = UPPER(#{objectId})
    </update>

    <select id="getMaxObjectId" resultType="java.lang.Integer">
        select max(OBJECTID) from synlte.object
    </select>

    <update id="updateAssetsClassify">
        update dp_table_organization_assets
           set PRIMARY_DATASOURCE_CH      = #{oneSourceClassifyCh},
               SECONDARY_DATASOURCE_CH    = #{twoSourceClassifyCh},
               PRIMARY_ORGANIZATION_CH    = #{oneOrganizationClassifyCh},
               SECONDARY_ORGANIZATION_CH  = #{twoOrganizationClassifyCh},
               THREELEVEL_ORGANIZATION_CH = #{threeOrganizationClassifyCh}
         where upper(TABLE_NAME_EN) = #{tableName}
    </update>

    <update id="updateAssetsTempClassify">
        update DP_TABLE_ORGANIZATION_ASSETS_TEMP
           set PRIMARY_DATASOURCE_CH     = #{oneSourceClassifyCh},
               SECONDARY_DATASOURCE_CH   = #{twoSourceClassifyCh},
               PRIMARY_ORGANIZATION_CH   = #{oneOrganizationClassifyCh},
               SECONDARY_ORGANIZATION_CH = #{twoOrganizationClassifyCh},
               THREE_ORGANIZATION_CH     = #{threeOrganizationClassifyCh}
         where upper(TABLE_NAME_EN) = #{tableName}
    </update>

    <select id="getDataResourceOrigin" resultType="com.synway.datastandardmanager.entity.vo.ValueLabelVO">
        select v1.CODETEXT || '/' || v2.CODETEXT as label,
               v1.codeid || '/' || v2.codeid as value
          from v_classify_info v1
          left join v_classify_info v2
            on v1.CODEID = v2.PARCODEID
         where v2.CODENAME = '01001'
    </select>

    <select id="createObjectTableSuggest" resultType="java.lang.String">
        select distinct tablename from CLASSIFY_INTERFACE_ALL_DATE
        <where>
            sjxjbm is not null
            <if test="firstValue != null and firstValue != ''">
                and  PRIMARYORGANIZATIONCH = #{firstValue}
            </if>
            <if test="secondaryClassifyValue != null and secondaryClassifyValue != ''">
                and SECONDARYORGANIZATIONCH = #{secondaryClassifyValue}
            </if>
            <if test="threeClassifyValue != null and threeClassifyValue != ''">
                and THREEORGANIZATIONCH = #{threeClassifyValue}
            </if>
            <if test="condition != null and condition != ''">
                and upper(tablename) LIKE upper('%'||#{condition}||'%')
            </if>
        </where>
    </select>

    <select id="findCheckTableNameImformationThree" resultType="string">
        <if test="type == 2">
            select v3.codename as codeName
              from v_classify_info v1
              left join v_classify_info v2
                on v1.codeid = v2.parcodeid
              left join v_classify_info v3
                on v3.parcodeid = v2.codeid
            <where>
                v1.codetext = '数据来源分类' and rownum =1
                <if test="midClassType != null and midClassType != ''">
                    and v3.codetext = #{midClassType}
                </if>
            </where>
        </if>
        <if test="type == 1">
            select v2.codename as codeName
              from v_classify_info v1
              left join v_classify_info v2
                on v1.codeid = v2.parcodeid
            <where>
                v1.codetext = '数据来源分类' and rownum =1
                <if test="midClassType != null and midClassType != ''">
                    and v2.codetext = #{midClassType}
                </if>
            </where>
        </if>
    </select>

    <select id="getStandardDataSet" resultType="com.synway.datastandardmanager.entity.pojo.ObjectStoreInfoEntity">
        select distinct objectid       as objectId,
                        objectname     as objectName,
                        tablename      as tableName,
                        tableid        as tableId,
                        sjzzyjflvallue as organizationClassificationId
          from synlte.object
         where OBJECTSTATE = 1
           and objectname is not null
           and relate_tablename = 'OBJECTFIELD'
    </select>

    <select id="getResourceStatus" resultType="com.synway.datastandardmanager.entity.vo.ValueLabelVO">
        select objectstateStr as value,
               objectstateStr || '(' || count(0) || ')' as label
          from (select case
                         when objectstate = 1 then '已发布'
                         when objectstate = 0 then '未发布'
                         else '停用'
                       end as objectstateStr
                  from synlte.object
                 where DELETED = 0
                   and upper(relate_tablename) = 'OBJECTFIELD')
         group by objectstateStr
    </select>

    <select id="queryConditionSuggestion" resultType="java.lang.String">
        select distinct dataName from(
            select distinct objectname as dataName from synlte.object
            <where>
                DELETED = 0 and
                upper(relate_tablename) = 'OBJECTFIELD'
                <if test="searchValue != null and searchValue != ''">
                    and upper(objectname) like upper('%'||#{searchValue}||'%')
                </if>
            </where>
            union all
            select distinct tableid as dataName from synlte.object
            <where>
                DELETED = 0 and
                upper(relate_tablename) = 'OBJECTFIELD'
                <if test="searchValue != null and searchValue != ''">
                    and upper(tableid) like  '%'||upper('%'||#{searchValue}||'%')
                </if>
            </where>
            union all
            select distinct tablename as dataName from synlte.object
            <where>
                DELETED = 0 and
                upper(relate_tablename) = 'OBJECTFIELD'
                <if test="searchValue != null and searchValue != ''">
                    and upper(tablename) like upper('%'||#{searchValue}||'%')
                </if>
            </where>
        )
    </select>

    <select id="getClassifyObject" resultType="com.synway.datastandardmanager.entity.vo.StandardTableRelationVO">
        select distinct PRIMARYORGANIZATIONCH || SECONDARYORGANIZATIONCH,
                        '1' as mainClassifyId,
                        '数据组织分类' as mainClassifyCh,
                        SJYJFL as primaryClassifyId,
                        PRIMARYORGANIZATIONCH as primaryClassifyCh,
                        SJEJFL as secondaryClassifyId,
                        SECONDARYORGANIZATIONCH as secondaryClassifyCh
          from CLASSIFY_INTERFACE_ALL_DATE
         where SJXJBM is not null
             <if test="primaryClassifyCh != null and primaryClassifyCh != ''">
                 and PRIMARYORGANIZATIONCH = #{primaryClassifyCh}
             </if>
         order by sjyjfl
    </select>

    <select id="getOrganizationRelationDao" resultType="com.synway.datastandardmanager.entity.vo.DataResourceRawInformationVO">
        select sjxjbm as sourceId, name as dataSourceName
          from CLASSIFY_INTERFACE_ALL_DATE
         where upper(tablename) = upper(#{addTableName})
           AND sjxjbm is not null
           AND PRIMARYORGANIZATIONCH is not null
           and rownum = 1
    </select>

    <select id="getAllClassify" resultType="com.synway.datastandardmanager.entity.vo.StandardTableRelationVO">
        select v1.codeid   as mainClassifyId,
               v1.codetext as mainClassifyCh,
               v2.codeid   as primaryClassifyId,
               v2.codetext as primaryClassifyCh,
               v3.codeid   as secondaryClassifyId,
               v3.codetext as secondaryClassifyCh,
               v4.CODEID   as threeClassifyId,
               v4.CODETEXT as threeClassifyCh
          from (select CODEID, CODENAME, CODETEXT, PARCODEID from v_classify_info
                <if test="mainClassifyCh == '数据组织分类'">
                    where codetext = '数据组织分类'
                </if>
                <if test="mainClassifyCh == '数据来源分类'">
                    where codetext = '数据来源分类'
                </if>
                ) v1
          left join v_classify_info v2 on v1.codeid = v2.PARCODEID
          left join v_classify_info v3 on v2.codeid = v3.PARCODEID
          left join v_classify_info v4 on v3.codeid = v4.PARCODEID
         order by v3.codeid asc
    </select>

    <select id="getCodeNameByClassifyIdDao" resultType="java.lang.String">
        <if test="type == 2">
            select v3.codename  from v_classify_info v1
                left join v_classify_info v2 on v1.codeid=v2.parcodeid
                left join v_classify_info v3 on v3.parcodeid = v2.codeid
                where
                v1.codetext = '数据来源分类' and rownum =1
                and upper(v3.codeid) = upper(#{id})
        </if>
        <if test="type == 1">
            select v2.codename  from v_classify_info v1
                left join v_classify_info v2 on v1.codeid=v2.parcodeid
                where v1.codetext = '数据来源分类'
                and upper(v2.codeid) = upper(#{id})
        </if>
    </select>

    <select id="searchDataDefinitionTable" parameterType="com.synway.datastandardmanager.entity.dto.DataDefinitionDTO"
            resultType="com.synway.datastandardmanager.entity.vo.DataDefinitionVO">
        select tableid as tableId,
               objectId as objectId,
               SOURCEID as sourceId,
               tablename as objectEnglishName,
               objectname as objectChineseName,
               updatetime as modDate,
               case
                 when SECONDARYDATASOURCECH is null then
                  primarydatasourcech
                 else
                  primarydatasourcech || '->' || SECONDARYDATASOURCECH
               end as dataSourceClassify
          from (select distinct o.*,
                                case
                                  when sourceParVci.CODETEXT is null then
                                   '中间表'
                                  else
                                   sourceParVci.CODETEXT
                                end as PRIMARYDATASOURCECH,
                                case
                                  when (sourceVci.CODETEXT is null and
                                       sourceParVci.CODETEXT is null) then
                                   '中间表'
                                  when (sourceVci.CODETEXT is null and
                                       sourceParVci.CODETEXT is not null) then
                                   ''
                                  else
                                   sourceVci.CODETEXT
                                end as SECONDARYDATASOURCECH
                  from (select o.*
                          from (select objectId,
                                       SOURCEID,
                                       tablename,
                                       objectname,
                                       tableid,
                                       updatetime,
                                       SJZYLYLXVALUE
                                  from synlte.object
                                 where DELETED = 0
                                   and upper(relate_tablename) = 'OBJECTFIELD') o
                         where exists (select 1
                                  from (select sjxjbm
                                          from classify_interface_all_date
                                         where SJEJFLCODENAME = '0191'
                                            or SJYJFLCODENAME = '04') cd
                                 where cd.sjxjbm = o.tableid)) o
                  left join v_classify_info sourceVci
                    on upper(sourceVci.codename) = upper(o.SJZYLYLXVALUE)
                   and sourceVci.root = 'GACODE000404'
                  left join v_classify_info sourceParVci
                    on upper(sourceParVci.codeid) = upper(sourceVci.parcodeid))
        <where>
            <if test="searchText != null and searchText != ''">
                (upper(objectname) like upper(concat('%',concat(#{searchText},'%')))
                or upper(tableName) like upper(concat('%',concat(#{searchText},'%')))
                or upper(tableId) like upper(concat('%',concat(#{searchText},'%')))
                or upper(sourceId) like upper(concat('%',concat(#{searchText},'%')))
                )
            </if>
        </where>
        <if test="sort !=null and sort != ''">
            order by ${sort} ${sortOrder}
        </if>
    </select>

    <update id="updateObjectClassifyAndSourceIfy" parameterType="com.synway.datastandardmanager.entity.pojo.ObjectEntity">
        update synlte.object set updatetime = sysdate,
        <if test="sjzybq1 != '' and sjzybq1 != null">
            SJZYBQ1=#{sjzybq1,jdbcType=VARCHAR},
        </if>
        <if test="sjzybq2 != '' and sjzybq2 != null">
            SJZYBQ2=#{sjzybq2,jdbcType=VARCHAR},
        </if>
        <if test="sjzybq3 != '' and sjzybq3 != null">
            SJZYBQ3=#{sjzybq3,jdbcType=VARCHAR},
        </if>
        <if test="sjzybq4 != '' and sjzybq4 != null">
            SJZYBQ4=#{sjzybq4,jdbcType=VARCHAR},
        </if>
        <if test="sjzybq5 != '' and sjzybq5 != null">
            SJZYBQ5=#{sjzybq5,jdbcType=VARCHAR},
        </if>
        <if test="sjzybq6 != '' and sjzybq6 != null">
            SJZYBQ6=#{sjzybq6,jdbcType=VARCHAR},
        </if>
        <if test="sjzzyjfl != '' and sjzzyjfl != null">
            SJZZYJFLVALLUE =#{sjzzyjfl,jdbcType=VARCHAR},
        </if>
        <if test="sjzzejfl != '' and sjzzejfl != null">
            SJZZEJFLVALUE =#{sjzzejfl,jdbcType=VARCHAR},
        </if>
        <if test="sjzylylx != '' and sjzylylx != null">
            SJZYLYLXVALUE=#{sjzylylx},
        </if>
        updater = #{updater}
        where upper(TABLEID) in (
        <foreach collection="tableIdList" item="item" separator="union all" open ="(" close = ")">
            select #{item} from dual
        </foreach>
        )
    </update>

</mapper>