    /**   checkbox radio switch 美化*/
    label {
        font-size: 14px;
        line-height: 1;
    }
    .my_label {
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
    .switch_label-left{
        display: inline-block;
        padding-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
    .switch_label-right{
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
   
    input[type='radio']:disabled+.my_label, 
    input[type='checkbox']:disabled+.my_label {
        cursor: not-allowed;
        color: var(--from-font-color);
    }
 
    input[type='checkbox'],
    input[type='radio'] {  
      --disabled: #f5f7fa;
      --disabled-inner: #E4ECFA;
      --shadow-inner: rgba(18, 22, 33, .1);
      outline: none;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;
      padding: 0;
      box-shadow: none;
      cursor: pointer;
      height: 14px;
      border: 1px solid var(--input-border);
      background: var(--white);
      transition: background .3s ease, border-color .3s ease;
      vertical-align: middle;
    }
    input[type='checkbox'].switch {
        width: 40px;
        height: 20px;
        border: 0;
        background: var(--input-border);
        border-radius: 11px;
      }
    input[type='checkbox']:after,
    input[type='radio']:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: opacity .2s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
      transition: transform .3s ease, opacity .2s ease, filter .3s ease;
      transition: transform .3s ease, opacity .2s ease, filter .3s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked{
      background: var(--main-color);
      border-color: var(--main-color);
    }
    input[type='radio']:not(:disabled):checked+.my_label,
    input[type='checkbox']:not(:disabled):checked+.my_label {
        color: var(--main-color);
    }
    input[type='checkbox'].switch:checked+.switch_label-right {
        color: var(--main-color);
    }
    input[type='checkbox']:checked:after,
    input[type='radio']:checked:after{
      -webkit-filter: drop-shadow(0 1px 2px var(--shadow-inner));
              filter: drop-shadow(0 1px 2px var(--shadow-inner));
      transition: opacity 0.3s ease, -webkit-filter 0.3s ease, -webkit-transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
      transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
      transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2), -webkit-filter 0.3s ease, -webkit-transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
      cursor: not-allowed;
      opacity: .9;
      background: var(--disabled);
    }
    input[type='checkbox'].switch:disabled,
    input[type='radio'].switch:disabled {
      cursor: not-allowed;
      opacity: .7;
      background: var(--input-border);
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
      background: var(--disabled-inner);
      border-color: var(--input-border);
    }
    input[type='checkbox'].switch:disabled:checked,
    input[type='radio'].switch:disabled:checked {
      background: var(--main-color);
      border-color: 0;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
      border-color: var(--main-color);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
      outline: none;
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
      width: 14px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
      opacity: 0;
    }
    input[type='checkbox']:not(.switch):checked:after,
    input[type='radio']:not(.switch):checked:after {
      opacity: 1;
    }
    input[type='checkbox']:not(.switch) {
      border-radius: 2px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 3px;
        height: 7px;
        border: 1px solid var(--white);
        border-top: 0;
        border-left: 0;
        left: 4px;
        top: 1px;
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
    }
    input[type='checkbox']:not(.switch):checked:after {
      -webkit-transform: rotate(43deg);
              transform: rotate(43deg);
    }
    input[type='checkbox']:not(.switch):disabled:checked:after {
        -webkit-transform: rotate(43deg);
                transform: rotate(43deg);
                border-color:  var(--from-font-color);
    }
   
    input[type='checkbox'].switch:after {
      left: 9px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background: var(--white);
    }
    input[type='checkbox'].switch:checked:after {
      background: var(--white);
      -webkit-transform: translate(13px,-8px);
              transform: translate(13px,-8px);
    }
    input[type='radio'] {
      border-radius: 50%;
    }
    input[type='radio']:after {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: var(--white);
      opacity: 0;
 
    }
    input[type='radio']:checked:after {
      background: var(--white);
    }
    input[type='radio']:disabled:checked:after{
        background: var(--from-font-color);
    }
  