 html,
 body{
	height:calc( 100% - 50px );
	width: 100%;
	background-color: white;
}

table{
    width: 100%;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color:#333333;
}
th{
	background-color: #e4edf8;
	font-size: 14px;
	text-align: center;
	/* height:52px; */
	border-right-color: #e0e0e0;
	text-align: center;

	vertical-align: middle; 
}
.TableDiv td{
   font-size: 12px;
   text-align: center;
   /* height:52px; */
    border:1px solid #ccc;
   border-right-color: #e0e0e0;
   text-align: center; 
   vertical-align: middle; 
}

div.TableDiv{
    position: absolute;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -10px;
    height: 90%;
}
 div.rightSouthDiv{
  border-radius:3px;
  border: 1px solid #eee;
  box-shadow:0 1px 10px #ccc;
  margin-top: 20px;
     height: 73%;
}
 div.resourceManageObjectDetailDiv{
  border-radius:3px;
  border: 1px solid #eee;
  box-shadow:0 1px 10px #ccc;
     width: 100%;
}
 .TableDiv .fixed-table-header {
     margin-right: 0!important;
 }


div.leftdiv{
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}
div.rightDiv{
    margin-left: 10px;
    margin-bottom: 10px;
    height: 100%;
}

input.form-control {
	width: 140px;
	height: 30px;
	vertical-align: middle;
	display: inline;
	margin-right: 2px;
	background-position: 110px 8px;
}

.rightDiv select {
	width: 140px;
	height: 32px;
	display: inline;
	vertical-align: middle;
}
 body font{
   color: #3333333;
   font-size: 14px;
   vertical-align: middle;
   font-weight: bold;
}

hr{
   margin-top: 46px;
   margin-bottom: 10px;
   margin-left: 0px;
   margin-right: 0px;
}
button.querybtn {
    border-color: #3582ef;
    width: 60px;
    height: 30px;
    border-radius:2px;
    color: #3582ef;
    line-height: 1;
    white-space: nowrap;
    background-color: white;
}
button.exportbtn {
    vertical-align: middle;
    border-color: #3582ef;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    color: #3582ef;
}
input {
	width: 15px;
	height: 32px;
	display: inline;
	vertical-align: middle;
}

#addContent .container .row{
    margin-bottom: 10px;
    line-height: 2;
}
 #addContent .container .row .col-md-3{
     height: 28px;
 }

.leftdiv a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

 .sourceLabel{
     text-align: right;
     height: 32px;
     margin-top: 8px;
     font-weight: bold;
 }
 #addSourceRelationModal select{
     width: 220px;
     height: 32px;
 }
 .addColumnInput{
     width: 220px;
     margin-left: 15px;
     margin-top: 5px;
 }
 #addContent select{
     width: 220px;
     height: 32px;
     margin-left: 15px;
     margin-top: 5px;
 }
 table{
     table-layout: fixed;
     word-break: break-all
 }
 .resourceButton{
     float: right;
     height: 23px;
     margin-right: 5px;
     width: 50px;
 }


 .loadEffect{
     width: 40px;
     height: 40px;
     position: relative;
     margin: 0 auto;
     margin-top:10px;
 }
 .loadEffect span{
     display: inline-block;
     width: 6px;
     height: 6px;
     border-radius: 50%;
     background: lightblue;
     position: absolute;
     -webkit-animation: load 1.04s ease infinite;
 }
 @-webkit-keyframes load{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0.2;
     }
 }
 .loadEffect span:nth-child(1){
     left: 0;
     top: 50%;
     margin-top:-3px;
     -webkit-animation-delay:0.13s;
 }
 .loadEffect span:nth-child(2){
     left: 5px;
     top: 5px;
     -webkit-animation-delay:0.26s;
 }
 .loadEffect span:nth-child(3){
     left: 60%;
     top: 0;
     margin-left: -8px;
     -webkit-animation-delay:0.39s;
 }
 .loadEffect span:nth-child(4){
     top: 5px;
     right:5px;
     -webkit-animation-delay:0.52s;
 }
 .loadEffect span:nth-child(5){
     right: 0;
     top: 50%;
     margin-top:-3px;
     -webkit-animation-delay:0.65s;
 }
 .loadEffect span:nth-child(6){
     right: 5px;
     bottom:5px;
     -webkit-animation-delay:0.78s;
 }
 .loadEffect span:nth-child(7){
     bottom: 0;
     left: 60%;
     margin-left: -8px;
     -webkit-animation-delay:0.91s;
 }
 .loadEffect span:nth-child(8){
     bottom: 5px;
     left: 5px;
     -webkit-animation-delay:1.04s;
 }

 .table-condensed>tbody>tr>td{
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
 }

 /*[data-hint]:after{*/
     /*font-size: 10px;*/
     /*margin-left: 4px;*/
     /*background-color: #0C0C0C;*/
     /*width: 100px;*/
 /*}*/
 #tableExampleData td{
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     max-width: 100px;
 }
 #tableExampleData td:hover{
     overflow: auto;
     white-space: pre-wrap;
 }
 .headerColor {
     position: relative;
     width: 5px;
     height: 18px;
     background-color: #409eff;
     top: 10px;
     margin-left: 15px;
 }
 .headerFont{
     /*position:absolute;*/
     margin-left: 20px;
     margin-top: 10px;
     font-weight: bold;
     font-size: 14px;
 }
 .pageAddress{
     position: absolute;
     margin-left: 70px;
     margin-top: -19px;
     color: blue;
 }
 /*分页*/
 .page-list ul li {
     position: relative;
     font-size: 13px;
     font-weight: 700;

 }
 .page-list ul li span {
     position: absolute;
     top: 11px;
     left: 38px;
     color: #606266;
     cursor: pointer;
 }
 .page-list ul.dropdown-menu {
     min-width: 110px;
 }
 .page-list ul li a {
     line-height: 34px;
     max-width: 110px;
     position: relative;
     z-index: 1;
 }
 .dropdown-menu > li:hover, .dropdown-menu > li:focus {
     color: #262626;
     text-decoration: none;
     background-color: #f5f7fa
 }
 .dropdown-menu > li > a:hover, .dropdown-menu > li >a:focus {
     color: #262626;
     text-decoration: none;
     background-color: rgba(0,0,0,0);
 }
 .dropdown-menu > .active > span,.dropdown-menu > .active > span:hover, .dropdown-menu > .active > span:focus {
     z-index: 4;
 }
 .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
 .dropdown-menu > .active > span,.dropdown-menu > .active > span:hover, .dropdown-menu > .active > span:focus{
     background-color: #fff;
     color: #409eff;
     font-weight: 700;
     cursor: pointer;
 }

 .btn.btn-default.dropdown-toggle {
     width: 110px;
     height: 28px;
     line-height: 28px;
     padding: 0;
     color: #606266;
     border-radius: 3px;
     font-size: 13px;
 }
 .btn.btn-default .caret {
     -webkit-transition: -webkit-transform .3s;
     transition: -webkit-transform .3s;
     transition: transform .3s;
     transition: transform .3s,-webkit-transform .3s;
     position: relative;
     right: -15px;
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
 }
 .btn-group.open .btn.btn-default .caret{
     -webkit-transition: -webkit-transform .3s;
     transition: -webkit-transform .3s;
     transition: transform .3s;
     transition: transform .3s,-webkit-transform .3s;
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
 }
 .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
     border: 1px solid #409eff;
     background-color: #fff;
 }
 .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
     background-color: #fff;
     box-shadow: none;
 }
 .btn-default:hover {
     border: 1px solid #409eff;
     background-color: #fff;
 }
 .btn-group.open .dropdown-toggle {
     box-shadow: none;
 }
 .pagination > li {
     color: #303133;
 }
 .pagination > li > a, .pagination > li > span {
     border: 0;
     color: #303133;
     font-weight: 700;
 }
 .pagination > li.page-pre a, .pagination > li.page-next > a {
     font-weight: normal;
 }
 .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
     z-index: 3;
     color: #409eff;
     cursor: default;
     background-color: #fff;
     border: 0;


 }
 .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
     color: #409eff;
     cursor: default;
     background-color: #fff;
     border: 0;
 }
 .fixed-table-pagination .pagination a {
     padding: 6px 16px;
     font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
     font-size: 13px;
 }
 .fixed-table-pagination .pagination a:hover {
     cursor: pointer;
 }
 .fixed-table-pagination {
     text-align: right;
     margin-top: 20px;
 }

 .pagination-detail {
     display: inline-block;
     float: none !important;
     text-align: right;
     vertical-align: top;
     margin-right: 10px;
 }
 .pagination {
     display: inline-block;
     float: none !important;
     text-align: right;
 }
 .fixed-table-pagination li.disabled a {
     cursor: not-allowed;
     pointer-events:auto;
 }
 .fixed-table-pagination li.disabled a:hover {
     cursor: not-allowed;
     pointer-events:auto;
 }
 #tableExampleData {
     margin-top: -40px!important;
 }
 #dataPagi .fixed-table-pagination {
     height: 55px !important;
 }
 #dataPagi  .fixed-table-container {
     padding-bottom: 40px!important;
 }
 #dataPagi .fixed-table-header {
     margin-right: 0px!important;
 }