<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synway.datastandardmanager.mapper.DsmSourceInfoMapper">

    <select id="findSourceInfo" parameterType="String" resultType="com.synway.datastandardmanager.entity.pojo.DsmSourceInfoEntity">
        select * from DSM_SOURCEINFO
        <where>
            <if test="sourceProtocol != null and sourceProtocol != ''">
                and upper(sourceProtocol) = upper(#{sourceProtocol})
            </if>
            <if test="tableName != null and tableName != ''">
                and upper(tableName) = upper(#{tableName})
            </if>
            <if test="sourceSystem != null and sourceSystem != ''">
                and sourceSystem = #{sourceSystem}
            </if>
        </where>
        limit 1
    </select>

</mapper>
