<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synway.datastandardmanager.mapper.StandardizeObjectfieldRelMapper">

    <insert id="insertList">
        INSERT INTO STANDARDIZE_OBJECTFIELD_REL
        (SET_ID, ID, RECNO, COLUMN_NAME, GADSJ_FIELDID, DICTIONARY_REF_ID, DICTIONARY_REF,
        DICTIONARY_CONTENT_ID, DICTIONARY_CONTENT, PARENT_ID, PARENT_COLUMN_NAME, CREATE_TIME, FIELDCHINESENAME)
        VALUES
        <foreach collection="objectFieldRelationList" item="item" separator=",">
            (#{item.setId}, #{item.id}, #{item.recno,jdbcType=INTEGER}, #{item.columnName,jdbcType=VARCHAR},
            #{item.gadsjFieldId,jdbcType=VARCHAR}, #{item.dictionaryRefId,jdbcType=VARCHAR},
            #{item.dictionaryRef,jdbcType=VARCHAR}, #{item.dictionaryContentId,jdbcType=VARCHAR},
            #{item.dictionaryContent,jdbcType=VARCHAR}, #{item.parentId}, #{item.parentColumnName,jdbcType=VARCHAR},
            now(), #{item.fieldChineseName,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateStdObjectfieldRel" parameterType="com.synway.datastandardmanager.entity.pojo.StandardizeObjectfieldRelEntity">
        update STANDARDIZE_OBJECTFIELD_REL
           set DICTIONARY_REF_ID     = #{dictionaryRefId},
               DICTIONARY_REF        = #{dictionaryRef},
               DICTIONARY_CONTENT_ID = #{dictionaryContentId},
               DICTIONARY_CONTENT    = #{dictionaryContent},
               PARENT_ID             = #{parentId},
               UPDATE_TIME           = sysdate
         where column_name = #{columnName}
           and gadsj_fieldId = #{gadsjFieldId}
    </update>

</mapper>
